# Build and Release Folders
bin/
bin-debug/
bin-release/
node_modules/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
db.json
/public/.well-known/
ssl/

# 第三方代码
themes/yvshare/source/js/thirdparty.js
db.json
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
