doctype
html(lang="zh-CN")
  head
    include head

  body
    div.toTop#doitbegin_Back2top
      img(src="/images/top.png")
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js'))
    script(src= url_for('https://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js'))
    script(src= url_for('https://cdn.bootcss.com/jquery.appear/0.3.3/jquery.appear.min.js'))
    script(src= url_for('https://cdn.bootcss.com/layer/3.0.3/layer.min.js'))

    script(src= url_for('js/common.js'))

    script(src= url_for('https://changyan.sohu.com/upload/changyan.js'))
    script(src= url_for('js/thirdparty.js'))